@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
}

input {
    outline: none;
    padding: .8em;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

button {
    padding: .8em;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .5s ease;
}

a {
    text-decoration: none;
    transition: .5s ease;
}

body {
    max-width: 1200px;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas:
            "header header"
            "main aside"
            "footer footer";
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 5%;
    grid-area: header;
    background-color: #002735;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    justify-content: space-between;
}

.header-logo {
    color: #ffffff;
    font-size: 4em;
    grid-area: 1 / 1 / 3 / 3;
}

.header-icons {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 1.5em;
    text-decoration: none;
    color: #ffffff;
}

.icon {
    margin-left: .2em;
    margin-right: .2em;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: .5s ease;
}

.icon:hover {
    transform: scale(1.1);
}

.search-icon {
    margin-left: 1em;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: .5s ease;
}

.search-icon:hover {
    transform: scale(1.1);
}

.header-nav {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav-link {
    margin-left: 1em;
    font-size: 1.5em;
    color: #ffffff;
}

.nav-link:hover {
    transform: scale(1.1);
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    justify-content: center;
    padding: 10px;
}

.article {
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.img-wrapper {
    width: 100%;
    height: 150px;
    overflow: hidden;
    cursor: pointer;
}

.article-img {
    max-width: 100%;
    /*max-height: 150px;*/
    object-fit: cover;
    transition: .5s ease;
}

.article-img:hover {
    transform: scale(1.1);
}

.article-body {
    padding: 10px;
}

.article-title {
    margin-top: 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.article-time {
    color: #6f6f6f;
    font-size: .7em;
}

.article-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

aside {
    grid-area: aside;
    min-width: 200px;
    padding: 10px;
}

.author-img {
    display: block;
    max-height: 200px;
    max-width: 200px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.author-name {
    text-align: center;
}

.author-text {
}

.social-icons {
    font-size: 1.5em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subscribe > input {
    width: 100%;
    border-bottom: 0;
}

.subscribe > button {
    width: 100%;
    color: #ffffff;
    background-color: #005574;
}

.subscribe > button:hover {
    transform: scale(1.05);
}

.search {
    margin-top: 20px;
    display: flex;
}

.search > input {
    width: 100%;
}

.search > button:hover {
    transform: scale(1.05);
}

.tags {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.tags > .tag {
    margin: .1em;
    background-color: #005574;
    font-size: .8em;
    color: #ffffff;
    padding: .2em;
}

.tags > .tag:hover {
    transform: scale(1.1);
}

.comment {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 10px;
}

.comment-logo {
    grid-area: 1 / 1 / 3 / 3;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
}

.comment-title {
    margin: 0;
    grid-area: 1 / 2 / 2 / 3;
    margin-left: 10px;
}

.comment-text {
    grid-area: 2 / 2 / 3 / 3;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    background-color: #002735;
    color: #ffffff;
    grid-area: footer;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 780px) {
    body {
        width: 100%;
        grid-template-areas:
                "header header"
                "main main"
                "aside aside"
                "footer footer";
    }

    .social {
        display: none;
    }

    .header-icons {
        grid-area: 1 / 2 / 2 / 3;;
    }

    .header-logo {
        width: 100%;
        font-size: 3em;
        grid-area: 2 / 1 / 3 / 2;
    }

    .header-nav {

    }

    main {
        grid-template-columns: repeat(auto-fill, minmax(250px, 100%));
    }

    aside {
        margin-top: 1em;
        max-width: 100%;
    }

    .article {
        max-width: 100%;
    }

    .img-wrapper {
        height: 300px;
    }

}